<h2>Customer Details</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Name:</strong> {{customer.firstName}} {{customer.lastName}}</li>
  <li class="list-group-item"><strong>Address:</strong> {{customer.address}}, {{customer.city}}, {{customer.state}} {{customer.zip}}</li>
  <li class="list-group-item"><strong>Phone:</strong> {{customer.phone}}</li>
  <li class="list-group-item"><strong>Email:</strong> {{customer.email}}</li>
</ul>
<a href="/" class="btn btn-secondary mt-3">Back</a>
