<h2>Order #{{order.id}}</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Customer:</strong> {{order.Customer.firstName}} {{order.Customer.lastName}}</li>
  <li class="list-group-item"><strong>Size:</strong> {{order.size}}</li>
  <li class="list-group-item"><strong>Toppings:</strong> {{order.toppings}}</li>
  <li class="list-group-item"><strong>Status:</strong> {{order.status}}</li>
  <li class="list-group-item"><strong>Notes:</strong> {{order.notes}}</li>
</ul>
<a href="/orders" class="btn btn-secondary mt-3">Back</a>
